.place__title {
  width: 460px;
  font-family: "Inter";
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #ffffff;
  margin-right: 40px;
  flex-shrink: 0;
}

@media screen and (max-width: 1024px) {
  .place__title {
    width: 440px;
    margin-right: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    width: 340px;
    font-size: 42px;
    line-height: 46px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    width: 320px;
    font-size: 32px;
    line-height: 35px;
    margin-right: 16px;
    padding-bottom: 32px;
  }
}
