.place__title {
  width: 460px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #ffffff;
  padding-right: 40px;
  flex-shrink: 0;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .place__title {
    width: 440px;
    padding-right: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    width: 340px;
    font-size: 42px;
    line-height: 46px;
    padding-right: 28px;
  }
}

@media screen and (max-width: 600px) {
  .place__title {
    max-width: 100%;
    font-size: 40px;
    line-height: 44px;
    padding-bottom: 32px;
    padding-right: 0;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    width: auto;
    font-size: 32px;
    line-height: 35px;
    padding-bottom: 32px;
  }
}
