.place__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 48px;
  max-width: 984px;
}

@media screen and (max-width: 650px) {
  .place__container {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 32px;
  }
}

/* @media screen and (max-width: 320px) {
  .place__container {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 32px;
  }
} */
