.place__main-title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

@media screen and (max-width: 650px) {
  .place__main-title {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 16px;
    padding-left: 16px;
  }
}
