.place__main-text {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .place__main-text {
    max-width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .place__main-text {
    max-width: 352px;
    font-size: 16px;
  }
}

@media screen and (max-width: 650px) {
  .place__main-text {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 320px) {
  .place__main-text {
    max-width: 288px;
  }
}
