.place__main-text {
  max-width: 484px;
  font-family: "Inter";
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .place__main-text {
    min-width: 456px;
    padding-left: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place__main-text {
    min-width: 352px;
    padding-left: 28px;
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .place__main-text {
    min-width: 288px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
  }
}
