.lead__image {
  position: relative;
  background-size: cover;
  width: 100%;
  height: 615px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .lead__image {
    max-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    max-height: 200px;
  }
}
