.intro__text {
  max-width: 690px;
  font-family: "Inter";
  font-size: 16px;
  line-height: 163%;
  color: #ffffff;
  padding-bottom: 33px;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .intro__text {
    width: 100%;
    padding-bottom: 34px;
  }
}
