.place__website-link {
  width: 100%;
  text-decoration: underline;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  opacity: 1;
}

.place__website-link:hover {
  opacity: 0.8;
  transition: opacity 0.5s linear;
}
