.place__website {
  width: 100%;
  font-family: "Inter", "Arial", sans-serif;
}

/* @media screen and (max-width: 1024px) {
  .place__website {
    min-width: 456px;
  }
} */

/* @media screen and (max-width: 768px) {
  .place__website {
    min-width: 352px;
  }
} */

@media screen and (max-width: 320px) {
  .place__website {
    min-width: 0;
  }
}
