.place__website {
  min-width: 484px;
  font-family: "Inter", "Arial", sans-serif;
}

@media screen and (max-width: 1024px) {
  .place__website {
    min-width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .place__website {
    min-width: 352px;
  }
}
